
/* For 1024 Resolution */  

body {
    width: 100%;
    height: 100%;
	padding: 0px;
	margin: 0px;
}

.container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
}

/* navigation Computer */

/* navigation */
.NavigationBar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.Name a {
    text-decoration: none;
    color: #707070;
}

.rightside {
    display: flex;
}

.NavigationBar > .leftside > div {
    margin-top: 10%;
    font-size: .9em;
    text-transform: uppercase;
}

.NavigationBar > .rightside > div {
    display: flex;
    margin-top: 10%;
    font-size: .9em;
    text-transform: uppercase;
    margin-left: 4%;
    margin-right: 4%;
}

.nav-link-wrapper {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    float: left;
}

.nav-link-wrapper a {
    color: #707070;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 2px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

/*Home Page*/
.Welcome > * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.Welcome h1 {
    font-weight: 600;
    font-size: 3em;
    text-decoration: wavy;
    color: grey;
    text-align: center;
    padding-top: 0.5em;
    margin-bottom: .5em;
    margin-top: .25em;
}

.Welcome p1 {
    display: block;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.25em;
    color: grey;
}

.Welcome p {
    font-size: 2em;
    color: grey;
    text-align: center;
}

.Welcome > .desktop > ol {
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.Welcome > .desktop > ol > li {
    font-weight: 300;
    font-style: none;
    font-size: 1em;
    color: rgb(75, 75, 75);
}

.Welcome > .WelcomePhone > ol {
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.Welcome > .WelcomePhone > ol > li {
    font-weight: 300;
    font-style: none;
    font-size: 1em;
    color: rgb(75, 75, 75);
}

/*Photo Journal*/
.portfolio-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item-wrapper {
    position: relative;
    height: 100%;
}


.img-darken {
    transition: .75s;
    filter: brightness(15%);
}

.bg-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 400px;
    width: 100%;
}



.bg-image img {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}


.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}

.image-overlay > * {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.imgwords {
    font-weight: 800;
    font-size: 1.25em;
}


.image-overlay:hover > .imgwords {
    color: white;
    font-weight: bold;
}

.image-overlay:hover > p {
    color: white;
    font-weight: 400;

}

/*Overview page */

.two-col-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-img-wrapper {
    padding: 30px;
    text-align: center;
}

.profile-img-wrapper img {
    height: 400px;
}

.profile-img-wrapper p {
    color: rgb(75, 75, 75);
}

.profile-content-wrapper {
    padding: 30px;
    margin-left: 15%;
}

.profile-content-wrapper h1 {
    color: rgb(100, 100, 100);
    font-size: 2em;
    margin-top: 0%;
}

.profile-content-wrapper p {
    color: rgb(75, 75, 75);
}

.profile-content-wrapper > p2 {
    font-weight: 300;
    font-style: none;
    font-size: 1em;
    color: rgb(75, 75, 75);
    text-align: center;
}

.profile-content-wrapper > li {
    color: rgb(75, 75, 75);
}

.profile-content-wrapper > .Credits >li {
    padding: 10px;
}

.profile-content-wrapper > .Credits > li > p2 > a {
    font-weight: 400;
    text-decoration: underline;
    font-size: 1em;
    color: rgb(75, 75, 75);
}

.profile-content-wrapper > .Credits > li > p2 {
    font-weight: 300;
    font-style: none;
    font-size: 1em;
    color: rgb(75, 75, 75);
    text-align: center;
    
}
h3 {
    color: rgb(100, 100, 100);
}

h3 span { 
    font-size:16px; 
    font-weight: 300;
    color:rgb(75, 75, 75);
    border-bottom: 1px solid;
    padding: 0 20px;
}


/* Add Mobile Layout */

  /* if desktop */
.mobile_device_380px {
    display: none;
}
.mobile_device_480px {
    display: none;
}

.WelcomePhone{
    display: none;
}
/* if mobile device max width 380px */


/* if mobile device max width 480px */
@media only screen and (max-device-width: 480px) {
    
    .mobile_device_480px{display: block;}
    .desktop {display: none;}
    .mobile_device_380px{display: block;}    
    .desktop {display: none;}


    /* Navigation */
    
    .NavigationBar {
        width: 100%;
        margin-top: 5%;
    }
    
    .leftside {
        width: 20%;
    }
    .Name {
        float: right;
    }

    .nav-link-wrapper {
        float: left;
    }

    .rightside {
        display: flex;
        width: 60%;
    }
    
    .NavigationBar > .leftside > div {
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }


    .NavigationBar > .rightside > div {
        margin-top: 0%;
        margin-left: 5%;
        margin-right: 0%;
    }


    /*about page */
    .image-blog{display: flex;}
    .image-blog img {height: 283px;}
    .writing-blog h1{text-align: center; color: rgb(100, 100, 100); font-size: 2em;}
    .writing-blog h3 {text-align: left; padding-left: 0; padding-right: 0;}

    /*Make the picture centered*/

    /*Photo Journal*/
    .portfolio-wrapper {display: grid; grid-template-columns: 1fr; margin-top: 2%;}

    /*Home Page*/
    .WelcomePhone{
        display: block; 
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-position: center;
        /*text-align: center;*/
    }

    /* Overview Page */

    .two-col-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    .image-blog {
        padding: none;
        justify-content: center;
        margin-top: 5%;
    }

    .writing-blog {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .writing-blog > h3{
        margin-left: 10%;
    }

    .writing-blog > li {
        margin-left: 10%;
    }

    .writing-blog > li > p2 {
        color:rgb(75, 75, 75);
    }

    .writing-blog > li > p2 > a {
        text-decoration: underline;
        color: rgb(75, 75, 75);
    }

    .writing-blog > p {
        text-align: center;
        color: rgb(75, 75, 75);
    }
}